@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    
}
#samsung {
    color: blue;
    font-size: small;
}

del {
    color: rgb(32, 31, 31);
}

.column-third{
    margin: 10px;
    
}
.one-box{
    background-color: rgb(111, 149, 221);
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.two-box{
    background-color:rgb(255, 216, 41);
    display: inline-block;
    padding: 10px;
    text-align: center;
   
}

.three-box{
    background-color: rgba(211, 9, 127, 0.945);
    display: inline-block;
    padding: 10px;
    text-align: center;

}

.four-box{
    background-color: rgb(33, 196, 218);
    display: inline-block;  
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    position: center;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.mob-box {
    padding: 10px;
    display: inline-block;
    border: 1px solid ;
    border-color: rgba(122, 121, 121, 0.4);
    margin-right: 10px;
    margin-bottom: 10px;
}

.checked {
    color: orange;
  }

h3 {
    text-align: center;
    font-size: 1.5vw;
    cursor: pointer;
    white-space: nowrap;
    font-family: 'Crimson Pro', serif;
}

.btna {
    width: 50px;
}

.topnav .navbar{
    padding: 0;
    font-size: 0.9rem;
  }
  .topnav .nav-item{
    padding-right: 5px;
  }
  .header{
    padding: 24px 0;
  }
  .header-cart{
    float: left;
  }
  .main-nav .nav-link{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .main-nav .nav-link{
    color: #262626;
  }
  .header .navbar{
    padding:0;
  }
  .main-nav-toggle{
    float:left;
    padding-left: 1.2rem;
  }
  .main-nav{
    padding: 0;
  }
  
  .main-nav .nav-link:hover{
    background-color: #acacac;
    color: white !important;
  }
  .main-nav .nav-link{
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
  }
  .main-nav .active{
    background-color: #6c757d;
    color: white !important;
  }

  .mainlogo{
    height:48px;
    background-color: black;
    background: url("https://logos-download.com/wp-content/uploads/2016/10/SnapDeal_logo_Snap_Deal.png") 0 0 no-repeat;
    background-size: contain;
  }


  .nav-b{
    color: white;
    text-align: center;
    display: inline-block;
    margin: 0 0 0.5rem 10px;
    padding: 4px 8px;
  }


  
  
  .container-fluid{
    background-color: #f4f4f4;
}

#top-bar{
    color: #a1a1a1;
}

#cart{
    color: #676ecd;
}

a{
    color: #a1a1a1;
}

#navbar{
    background-color: #f4f4f4;
    font-size: medium;
}

li{
    padding: 1rem;
    cursor: pointer;
}

li:hover{
    background-color: #676ecd;
    color: white;
}

@media only screen and (max-width: 1200px) {
  h3{
    font-size: 1.2rem;
  }
}

.right {
  margin: 0px;
}

.phone {
  width: 20%;
}



